/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

h1,h2,.m-1{
    text-align: center;
}
h2{
	font-size: 1.1em;
}
.first-P{
	margin-top: 50px;
}
.text-c{
  text-align: center;
}
.number_Page {
  position: absolute;
  top: 95%;
  right: 50%;
  -webkit-transform: translate(50%);
      -ms-transform: translate(50%);
          transform: translate(50%); /* décalage de 50% de sa propre taille */
}
.number_Page p{
  color: rgb(0, 0, 0);
}
.m-1{
  margin-left: 50px;
}
.book {
  -webkit-transition: opacity 0.4s 0.2s;
  -o-transition: opacity 0.4s 0.2s;
  transition: opacity 0.4s 0.2s;
}
p{
  /* text-align: center; */
  margin: 10px 40px;
  font-size: 0.8vw;
  color: #000000;
}
@media only screen and (max-width: 1900px) {
 html{
    zoom: 105%;
  }
  p {
    /* font-size: 0.9em; */
  }
}
@media only screen and (max-width: 1726px) {
  html{
    zoom: 115%;
  }
p {
  /* font-size: 0.8em; */
}
}
@media only screen and (max-width: 1585px) {
   html{
    zoom: 125%;
  }
p {
  font-size: 0.7vw;
}
}
@media only screen and (max-width: 1455px) {
   html{
    zoom: 135%;
  }
  p {
    /* font-size: 11px; */
  }
  .number_Page {
    top: 93%;
  }
  .book .pages{
    width: 100%;
  }
}
@media only screen and (max-width: 1270px) {
  html{
    zoom: 170%;
  }
  p {
    font-size: 0.6vw;
  }
}
@media only screen and (max-width: 1102px) {
  p {
    font-size: 6.3px;
  }
}
@media only screen and (max-width: 1200px) {
   html{
    zoom: 175%;
  }
  p {
    /* font-size: 8px; */
  }
}
@media only screen and (max-width: 1153px) {
  p {
    /* font-size: 7.4px; */
  }
  
}
@media only screen and (max-width: 1117px) {
  p {
    /* font-size: 7px; */
  }
}
@media only screen and (max-width: 1077px) {
  p {
    /* font-size: 6.7px; */
  }
}
@media only screen and (max-width: 1002px) {
  p {
    font-size: 5px;
  }
}
@media only screen and (max-width: 969px) {
  p {
    /* font-size: 6.2px; */
  }
}
.page {
  width: 100%;
  background-color: #111111;
  float: left;
  margin-bottom: 0.5em;
  background: left top no-repeat;
  background-size: cover;
}
.page:nth-child(even) {
  clear: both;
}
.book {
  width: 1000px;
}
.book .pages {
  width: 60vw;
  height: 44vw;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
  /*box-shadow: 0 0 0 1px #e3dfd8;*/
}
.book .page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 30vw;
  height: 42vw;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 1.4s;
  transition: -webkit-transform 1.4s;
  -o-transition: transform 1.4s;
  transition: transform 1.4s;
  transition: transform 1.4s, -webkit-transform 1.4s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #e6e0d7;
}

.book .page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40vw;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.7s;
  -o-transition: background 0.7s;
  transition: background 0.7s;
  z-index: 2;
}
.book .page:nth-child(odd) {
    pointer-events: all;
    -webkit-transform: rotateY(
0deg);
            transform: rotateY(
0deg);
    right: 0;
    border-radius: 0 4px 4px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(180, 173, 161, 0.9)), color-stop(10%, rgba(223, 215, 204, 0.59)));
    background-image: -o-linear-gradient(left, rgba(180, 173, 161, 0.9) 0%, rgba(223, 215, 204, 0.59) 10%);
    background-image: linear-gradient(to right, rgba(180, 173, 161, 0.9) 0%, rgba(223, 215, 204, 0.59) 10%);
}
.book .page:nth-child(odd):hover {
  -webkit-transform: rotateY(-15deg);
          transform: rotateY(-15deg);
}
.book .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}
.book .page:nth-child(even) {
  pointer-events: none;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,.12)), color-stop(10%, rgba(0,0,0,0)));
  background-image: -o-linear-gradient(right, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
  background-image: linear-gradient(to left, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
}
.book .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.grabbing {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.book .page.flipped:nth-child(odd) {
  pointer-events: none;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.book .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(even) {
  pointer-events: all;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.book .page.flipped:nth-child(even):hover {
  -webkit-transform: rotateY(15deg);
          transform: rotateY(15deg);
}
.book .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}
*,
* :before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  font-family:'Times New Roman', Times, serif;
  background: rgb(22, 21, 21);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
}
.page:nth-child(odd){
  background-position: right top;
}





#carta {
    margin: 0 auto;
    font-size: 15px;
    border-radius: 25px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 40px black;
            box-shadow: 5px 5px 40px black;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}
#carta .box_Img{
  position: absolute;
  top: 3%; left: 50%; /* à 50%/50% du parent référent */
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%); /* décalage de 50% de sa propre taille */
  color: white;
  font-size: 2vh;
}
#carta .box_Img_b{
 position: absolute;
  top: 80%; left: 50%; /* à 50%/50% du parent référent */
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%); /* décalage de 50% de sa propre taille */
  color: white;
}
#carta .box_Img_b p{
  font-size: 1.5vh;
  color: white;
}
#carta img{
  width: 100%;
}
img{
  -webkit-box-shadow: 5px 5px 4px gray;
          box-shadow: 5px 5px 4px gray;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
/* 
img:hover{
  filter: invert(100%);
} */
p{
  /* text-align: justify; */
}

.boton{
  text-decoration: none; 
  margin: 20px;
  padding: 2px 20px;
  border-radius: 20px;
  border: solid tomato 2px;
  color: black;
  -webkit-box-shadow: 2px 2px 2px gray;
          box-shadow: 2px 2px 2px gray;
  display: block;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.boton:hover{
  background-color: tomato;
}

#cerrar{
  text-decoration: none;
  color: red;
  border: solid red 1px;
  padding: 5px;
  border-radius: 8px;
}

#description:not(:target){
  display: none; 
}
#description:target{
  display: block;
}






@media only screen and (max-width: 1200px) {
 
  #carta .box_Img_b{
    top: 72%; left: 50%; /* à 50%/50% du parent référent */
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%); /* décalage de 50% de sa propre taille */
}
}
@media only screen and (min-width: 951px) {
  .FS{
    display: none;
  }
  .book{
    display: block;
  }
}
@media only screen and (max-width: 950px) {
  .book{
    display: none;
  }
  .FS{
    display: block;
  }
  html{
    zoom: 100%;
  }
  body{
    display: block;
  }
  .flex-control-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page{
    position: relative;
    background: rgb(228, 224, 212);
    min-height: 58vw;
  }
  .page p{
    font-size: 2.5vh;
  }
  .number_Page{
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .number_Page p {
    text-align: center;
  }
}


/* menu bar */

.menu_icon {
    display: inline-block;
    cursor: pointer;
    float: right;
    position: absolute;
    position: fixed;
    z-index: 10001;
    top: 5px;
    right: 15px;
    background: rgba(0, 0, 0, 0.6);
    padding: 11px 12px;
    opacity: 0.5;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.change .bar2 {
  /* opacity: 0; */
}

.change .bar3 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/********Menu style *******/
.main_menu {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 15px;
  z-index: 20000;
  text-align: center;
  margin: 0 10% 0 5%;
  display: none;
  position: absolute;
  position: fixed;
  left: 0;
  right: 0;
  top: 75px;
}

.main_menu.active {
  display: block;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mainMenu {
  0% {
      opacity: 0;
      top:35px;
  }
  10% {
      display: block;
  }
  100% {
      opacity: 1;
      top:15px;
  }
}

/* Standard syntax */
@keyframes mainMenu {
  0% {
      opacity: 0;
      top:35px;
  }
  10% {
      display: block;
  }
  100% {
      opacity: 1;
      top:15px;
  }
}
.main_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main_menu ul li {
  display: inline-block;
  padding: 0 10px;
}

.main_menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
.main_menu ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_menu ul li{
  margin: 4px;
}

.bookmarkss{
  z-index: 10000;
  background: rgb(216, 202, 181);
  height:30px;
  position:absolute;top:0;right:0;left: 2.5%;
  width: 95%;
  height: 18px;
}

.actived{
  background: #b00;
}
.page{
  position: relative;
}
.dragon {
    position: absolute;
}
.dragon img{
  width: 100%;
  box-shadow: none;
}